.title[data-v-8c4ff716]{font-weight:700;padding-bottom:30px;font-size:16px;line-height:24px}.notice-warp[data-v-8c4ff716]{background-color:#eef2ff;border-radius:9px;padding:15px;margin-bottom:20px;line-height:24px}
