.keywords[data-v-99cea65b]{display:flex;align-items:center;width:100%;gap:8px}.table-question[data-v-99cea65b]{display:flex;align-items:center;gap:4px}.pre-wrap[data-v-99cea65b]{display:block;max-width:250px;white-space:pre-wrap}
