.tit-box[data-v-afed000d]{display:flex;align-items:center;justify-content:space-between;padding:10px 0;margin-bottom:20px}.tit-box .tit[data-v-afed000d]{border-left:3px solid #155bd4;padding-left:10px;font-size:14px}
