.ssdw[data-v-294fbff2]{display:flex;align-items:center;gap:4px}.font-color[data-v-294fbff2]{color:var(--tig-primary);cursor:pointer}[data-v-294fbff2] .hide-checkbox .el-table__header-wrapper .el-table__header .el-checkbox{display:none}
