.ssdw[data-v-01f52352]{display:flex;align-items:center;gap:4px}.font-color[data-v-01f52352]{color:var(--tig-primary);cursor:pointer}[data-v-01f52352] .hide-checkbox .el-table__header-wrapper .el-table__header .el-checkbox{display:none}
